<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2020 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mytest.mapper.UserMapper">
    <resultMap id="baseMap" type="mytest.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="user_desc" property="userDesc" jdbcType="VARCHAR" javaType="mytest.model.UserDesc" typeHandler="mytest.typehandler.UserDescTypeHandler"/>
    </resultMap>
    <insert id="insert">
        insert into user(`name`, user_desc) values (#{name}, #{userDesc, typeHandler=mytest.typehandler.UserDescTypeHandler})
    </insert>
    <select id="selectByName" resultMap="baseMap">
        select id, name,user_desc from user where name = #{name}
    </select>
    <select id="selectByNameAndId" resultMap="baseMap">
        select id, name,user_desc from user where id = #{0} and name = #{1}
    </select>
</mapper>